<!DOCTYPE html>
<!-- TODO: Move into subfolder -->
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Budgeter</title>
  </head>
  <body>
    <h1>Budgeter</h1>
    <div id="vue-app">
        <!-- TODO: This might need its own window -->
        <div v-if="currentBudget !== null">
            Current Budget:

            <h1>History</h1>
            <button @click="backToHome">Back to Home</button>

            <h2>Income</h2>
            <table>
            <tr>
                <th>Budget Name</th>
                <th>Budget Type</th>
                <th>Budget Amount</th>
            </tr>
            <tr v-for="historicalBudget in currentBudget.history.getIncomeCategories()">
                <td>{{historicalBudget.name}}</td>
                <td>{{historicalBudget.type}}</td>
                <td>£{{historicalBudget.getTotalAmount()}}</td>
            </tr>
            </table>

            <h2>Expense</h2>
            <table>
            <tr>
                <th>Budget Name</th>
                <th>Budget Type</th>
                <th>Budget Amount</th>
                <th>Review Transactions</th>
            </tr>
            <tr v-for="budgetHistoryCategory in currentBudget.history.getExpenseCategories()">
                <td>{{budgetHistoryCategory.name}}</td>
                <td>{{budgetHistoryCategory.type}}</td>
                <td>£{{budgetHistoryCategory.getTotalAmount()}}</td>
                <td>
                    <button @click="reviewTransactions(budgetHistoryCategory)">Review Transactions</button>
                </td>
            </tr>
            </table>

            <h2>Summary</h2>
            <table>
            <tr>
                <th>Income Total</th>
                <th>Expense Total</th>
                <th>Cash Flow</th>
            </tr>
            <tr>
                <td>£{{currentBudget.history.getIncomeTotalAmount()}}</td>
                <td>£{{currentBudget.history.getExpenseTotalAmount()}}</td>
                <td>£{{currentBudget.history.getCashFlow()}}</td>
            </tr>
            </table>

        </div>
        <div v-else>
            <h2>Budgets</h2>
            <button @click="getNameForBudgetWithoutSpendeeExport">Add Export</button>
            <table v-if="budgets.length !== 0">
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="budget in budgets">
                    <td>{{budget.name}}</td>
                    <td>
                        <button @click="openBudget(budget)">Edit</button>
                    </td>
                    <td>
                        <button @click="deleteBudget(budget)">Delete</button>
                    </td>
                </tr>
            </table>
            <p v-else>No budgets.</p>
            <div class="creation" v-if="creatingNewBudget">
                <input type="text" v-model="newBudgetName" />
                <select v-model="newBudgetExport">
                    <option :value="null">No Export</option>
                    <option v-for="spendeeExport in spendeeExports" :value="spendeeExport">{{spendeeExport.accountName}} - {{spendeeExport.created}}</option>
                </select>
                <button @click="createNewBudget" :disabled="this.newBudgetExport === null" >Create {{newBudgetName}} Budget</button>
                <p v-if="this.newBudgetExport === null">Cannot create a new budget without a Spendee Export as base.</p>
            </div>

            <h2>Exports</h2>
            <button @click="askForSpendeeExport">Add Export</button>
            <table v-if="spendeeExports.length !== 0">
                <tr>
                    <th>Account</th>
                    <th>Added</th>
                    <th>Open</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="spendeeExport in spendeeExports">
                    <td>{{spendeeExport.accountName}}</td>
                    <td>{{spendeeExport.created}}</td>
                    <td>
                        <button @click="getNameForBudgetWithSpendeeExport(spendeeExport)">Create New Budget</button>
                    </td>
                    <td>
                        <button @click="deleteSpendeeExport(spendeeExport)">Delete Spendee Export</button>
                    </td>
                </tr>
            </table>
            <p v-else>No Spendee Exports.</p>
        </div>
    </div>
  </body>
</html>
