<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Budgeter</title>
  </head>
  <body>
    <h1>Budgeter</h1>
    <div id="vue-app">
        <div v-if="currentBudget !== null">
            Current Budget:

            <h1>History</h1>
            <button @click="backToHome">Back to Home</button>

            <h2>Income</h2>
            <table>
            <tr>
                <th>Budget Name</th>
                <th>Budget Type</th>
                <th>Budget Amount</th>
            </tr>
            <tr v-for="historicalBudget in currentBudget.history.getIncomeCategories()">
                <td>{{historicalBudget.name}}</td>
                <td>{{historicalBudget.type}}</td>
                <td>£{{historicalBudget.getTotalAmount()}}</td>
            </tr>
            </table>

            <h2>Expense</h2>
            <table>
            <tr>
                <th>Budget Name</th>
                <th>Budget Type</th>
                <th>Budget Amount</th>
                <th>Review Transactions</th>
            </tr>
            <tr v-for="budgetHistoryCategory in currentBudget.history.getExpenseCategories()">
                <td>{{budgetHistoryCategory.name}}</td>
                <td>{{budgetHistoryCategory.type}}</td>
                <td>£{{budgetHistoryCategory.getTotalAmount()}}</td>
                <td>
                    <button @click="reviewTransactions(budgetHistoryCategory)">Review Transactions</button>
                </td>
            </tr>
            </table>

            <h2>Summary</h2>
            <table>
            <tr>
                <th>Income Total</th>
                <th>Expense Total</th>
                <th>Cash Flow</th>
            </tr>
            <tr>
                <td>£{{currentBudget.history.getIncomeTotalAmount()}}</td>
                <td>£{{currentBudget.history.getExpenseTotalAmount()}}</td>
                <td>£{{currentBudget.history.getCashFlow()}}</td>
            </tr>
            </table>

        </div>
        <div v-else>
            <button @click="askForSpendeeExport">Add Export</button>
            <table>
                <tr>
                    <th>Account</th>
                    <th>Added</th>
                    <th>Open</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="spendeeExport in spendeeExports">
                    <td>{{spendeeExport.accountName}}</td>
                    <td>{{spendeeExport.created}}</td>
                    <td>
                        <button @click="createNewBudget(spendeeExport)">Create New Budget</button>
                    </td>
                    <td>
                        <button @click="deleteSpendeeExport(spendeeExport)">Delete Spendee Export</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </body>
</html>
