<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Budgeter</title>
  </head>
  <body>
    <h1>Budgeter</h1>
    <div id="vue-app">
        <div v-if="currentBudget !== null">
            Current Budget
        </div>
        <div v-else>
            <button @click="askForSpendeeExport">Add Audit</button>
            <table>
                <tr>
                    <th>Account</th>
                    <th>Added</th>
                    <th>Open</th>
                </tr>
                <tr v-for="budget in budgets">
                    <td>{{budget.accountName}}</td>
                    <td>{{budget.created}}</td>
                    <td>
                        <button>Open</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </body>
</html>
